<div class="modal-dessert is-hidden">
  <div class="modal-overlay"></div>
  <div class="modal-container">
    <button class="modal-close" type="button">&#x2715;</button>
    <img class="modal-img" src="" alt="" />
    <div class="modal-content">
      <h2 class="modal-title"></h2>
      <p class="modal-price"></p>
      <div class="modal-rating"></div>
      <p class="modal-description"></p>
      <p class="modal-ingredients">
        <span class="modal-ingredients-title">Склад</span>:
      </p>
      <button class="modal-order-btn" type="button">
        Перейти до замовлення
      </button>
    </div>
  </div>
</div>
